{
    "presets": [
        ["@babel/preset-env", {"useBuiltIns": "usage", "modules": "commonjs"}]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "transform-vue-jsx",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-regenerator",
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}